apiVersion: v1
kind: Service
metadata:
  name: alertmanager-nodeport
  namespace: catalogo-carros
spec:
  type: NodePort
  selector:
    app: alertmanager
  ports:
    - port: 9093
      nodePort: 30002
