apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-prometheus-exporter
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx-prometheus-exporter
  template:
    metadata:
      labels:
        app: nginx-prometheus-exporter
    spec:
      containers:
        - name: nginx-prometheus-exporter
          image: nginx/nginx-prometheus-exporter:latest
          ports:
            - containerPort: 9113
          args:
            - -nginx.scrape-uri=http://nginx-clusterip:80/metrics-nginx
          resources:
            requests:
              cpu: 200m
              memory: 200M
            limits:
              cpu: 500m
              memory: 500M
