apiVersion: apps/v1
kind: Deployment
metadata:
  name: client-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: client
  template:
    metadata:
      labels:
        app: client
    spec:
      containers:
        - name: client-container
          image: marcoservio/client-catalogo-carros:2.0
          resources:
            requests:
              cpu: "20m"
              memory: "40M"
            limits:
              cpu: "40m"
              memory: "80M"
